
{{#if success_msg}}
  <div class="alert alert-dark mt-3 special-button" role="alert">
  {{success_msg}}
</div>
{{/if}}

{{#if error_msg}}
<div class="alert alert-danger" role="alert">
  {{erorr_msg}}
</div>
{{/if}}


