<div class="container">
    <div class="phrase mt-5">
        <h1 class="p-1 mb-2 text-white col-xs-1s" align="center">Add the group code.</br>Compete </h1>
    </div>
    <div class="text-white">
        <form action="/league/join" method="POST">
            <div class="form-group">
                <input name="identification" type="string" class="form-control bg-transparent text-white" id=""
                    aria-describedby="emailHelp" placeholder="Group code">
            </div>
            <button type="submit" class="form-control btn btn-danger btn-block special-button mt-5 w-75 mx-auto">Sign
                In</button>
        </form>
    </div>
</div>