<style>
  body {
    background-image: url('/img/rowing.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
  }
  </style>
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Coming soon</h1>
    <p class="lead">Compete against your friends and win prizes.</p>
  </div>
</div>