
body {
    background-image: linear-gradient(to right, 	#181818 0%,	#181818 100%);
}


.special-button{
    opacity: .85;
}

.special-card {
    /* create a custom class so you 
       do not run into specificity issues 
       against bootstraps styles
       which tends to work better than using !important 
       (future you will thank you later)*/
    
      opacity: .75;
    }

image 
{ 
position: relative; /* To help the image + text element to get along with the rest of the page*/ 
width: 100%; /* for IE 6 */ 
} 
h2 
{ 
position: absolute; /* To place the text on the image*/
top: 190px; /* The exact location of the text from the top of the image*/
left: 0; /* Other beautification stuff */
width: 100%; 
}
/* Coloring time */
h2 /* decorating the text within the span tag */
{ 
color: white; 
font: bold 45px/90px Helvetica, Sans-Serif; 
letter-spacing: -1px; 
background: rgb(0, 0, 0); /* fallback color */ 
background: rgba(0, 0, 0, 0); padding: 10px; 
}
h2 span.spacer { padding:0 5px; };

.funny { color:white; font-family: 'Helvetica Neue', sans-serif; font-size: 100px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
;

